    <form action="/courses" method="post">
      <label for="name">Course Title</label>
      <input id="title" name="title" type="text">

      <label for="name">Course number</label>
      <input id="course_number" name="course_number" type="text">

      <button type="submit">Add course</button>
    </form>
