<h1>$course.getTitle()</h1>

<form action="/courses/$course.getId()/edit" method="post">
  <input id="id" name="id" type="hidden" value="$course.getId()">
  <label for="title">Course Name</label>
  <input id="title" name="title" type="text">
  <button type="submit">Edit Course</button>
</form>
<br>
<br>
 <p><a href='/'>Home</a></p>
